*{
    margin: 0;
    padding: 0;
    
    font-family: 'Comfortaa', cursive;
}
html{
    scroll-behavior: smooth;
}
/* header section */
#header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,7,0.7),rgba(4,9,7,0.7)),url(bg.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
}
.center{
    display: flex;
    justify-content: center;
}
.center img{
    height: 300px;
    border: 4px dotted rgb(88, 134, 160);
    border-radius: 50%;
    position: absolute;
    top: 20%;
}
.user-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.user-box h1{
    font-size: 45px;
    font-weight: bold;
}
.user-box p{
    font-size: 25px;
}
.scroll-btn{
    bottom: 35px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #fff;
    padding: 10px 10px 20px;
    border-radius: 30px;
}
.scroll-bar span{
    border: 2px solid white;
    font-size: 10px;
    border-radius: 30px;
}
.scroll-bar{
    animation: mover 1s infinite alternate;
}
@keyframes mover{
    0%{
        transform: translateY(0);
    }
    100%
    {
        transform: translateY(10px);
    }
}
@media all and (max-width:700px){
    .center img{
        height: 290px;
    }

    .user-box h1{
        font-size: 35px;
    }
    .user-box p{
        font-size: 20px;
    }
}
/* user section */
#user{
    position: sticky;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    top: -6px;
    z-index: 2;
}
.navbar{
    padding: 12px;
}
.list{
    display: flex;
}
.list li{
    list-style: none;
}
.list li a{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}
/* .toggle-button{
    position: absolute;
    top: 18px;
    right: 10px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    z-index: 3;
} */
@media all and (max-width: 700px) {
    .list{
        justify-content: center;
    }
    .list li{
        text-align: center;
    }
    .list li a{
        font-size: 16px;
        padding: 8px;
        margin: 0;
    }
}
/* about section */
.ab{
    margin-top: 40px;
    display: flex;
    margin-bottom: -105px;
}
.about{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    position: relative;
    top: 0;
}
.col{
    display: flex;
    position: relative;
    top: 90px;
    left: 25px;
}
.col img{
    border-radius: 20px;
    height: 400px;
}
.row{
    flex-basis: 40%;
    position: relative;
    box-sizing: border-box;
    top: 72px;
    left: 6%;
}
.row p{
    padding: 15px;
    line-height: 20px;
}
.skills-bar{
    padding-bottom: 10px;
}
.skills-bar p{
    padding: 10px 0 10px 0;
}
.progress{
    background-color: rgb(224, 221, 221);
    width: 100%;
    border-radius: 16px;
    text-align: center;
}
.progress-bar{
    background-color: rgb(0, 0, 0);
    border-radius: 16px;
    color: white;
}
@media all and (max-width: 1100px){
    .about{
        flex-direction: column;
        width: 84%;
    }
    .col{

        justify-content: center;
        padding-left: 10px;
    }
    .col img{
        position: relative;
        top: -45px;
        height: 300px;
    }
    .row h2{
        font-size: 30px;
        padding-left: 15px;
        padding-bottom: 5px;
        text-align: center;
    }
    .row p{
        text-align: justify;
        font-size: 20px;
        padding-left: 25px;
    }
    .skills-bar{
        padding-left: 15px;
        width: 95%;
    }
}
/* resume section */
.container{
    display: flex;
    position: relative;
    top: 160px;
    background: #f1f1f1;
    justify-content: center;
}
.resume{
    flex-basis: 60%;
    margin-top: -50px;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
}
.col1{
    font-size: 20px;
    position: relative;
    left: 35%;
    width: 40%;
    padding-bottom: 20px;
}
.row1{
    width: 90%;
}
.timeline li{
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 45px;
    background: rgb(255, 255, 255);
}
.timeline{
    list-style-type: none;
    position: relative;
}
.timeline::before{
    content: '';
    background: #555;
    display: inline-block;
    position: absolute;
    left: 13px;
    width: 2px;
    height: 100%;
    z-index: 1;
} 
.timeline li h4{
    background: #000;
    padding: 6px;
    margin-bottom: 8px;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
}
.timeline li h4 span{
    font-weight: bold;
    color: #ccc;
}
.timeline li::before{
    content: '';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 4px solid #000;
    left: 3px;
    width: 15px;
    height: 15px;
    z-index: 1;
}
@media all and (max-width:900px){
    .container{
        display: block;
    }
    .col1{
        width: 58%;
        left: 22%;
        font-size: 20px;
    }
}
/* contact  */
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 160px;
    text-align: center;
}
.col2{
    padding: 10px;
}
.col2 h2{
    font-size: 18px;
    padding: 10px;
}
.row2 .fa{
    color: #fff;
    padding: 10px;
    font-size: 30px;
}
.row2{
    display: inline-block;
    justify-content: center;
    padding: 10px;
    font-size: 14px;
    text-align: center;
}
.btn{
    font-family:monospace;
    margin: 10px 15px;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 15px;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    color: white;
    display: inline-block;
}
.btn .fa{
    padding-right: 10px;
}
.btn:hover{
    font-weight: 900;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 1s;
}
.footer{
    background: #000;
    height: 50px;
    margin-top: 50px;
    color: #fff;
    padding-top: 10px;
}
.footer p{
    margin-top: 15px;
    font-family:Verdana, Tahoma, sans-serif;
    font-size: 12px;
}
.contact{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    color: #fff;
}
/* social links */
.social-icons{
    top: 70%;
    transform: translateY(-50%);
    position: sticky;
    z-index: 3;
    width: 80px;
}
.social-icons ul li{
    height: 30px;
    width: 30px;
    list-style-type: none;
    padding-left: 10px;
    padding-top: 8px;
    margin-top: 1px;
    color: #fff;
    font-size: 18px;
    background: #000;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.social-icons ul li:hover{
    padding-left: 30px;
    width: 60px;
    transition: 1s;
}
@media all and (max-width:900px) {
    .social-icons{
        position: sticky;
        top: 20% ;
    }
}

/* modal */
.modal {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 0;
      visibility: hidden;
    }
    .modal-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgb(0, 0, 0);
      padding: 1rem 1.5rem;
      width: 40vh;
      border-radius: 0.5rem;
    }
    .close-button {
      float: right;
      width: 1.5rem;
      font-size: 26px;
      text-align: center;
      cursor: pointer;
    }
    .show-modal {
      opacity: 1;
      visibility: visible;
      transform: scale(1.0);
    }